/**
 * Colors are defined in _bootstrap-overrides.scss. Uncomment and change as desired.
 */

 @import "variable-overrides";

// $color__primary: #509EA3;
// $color__secondary: #E53634;
// $color__tertiary: #1C2A42;
// $color__tertiary2: #AFBB87;
// $color__highlight: #EFE4A6;

// $color__primary-light: lighten($color__primary, 20%);
// $color__secondary-light: #EB6361;
// $color__tertiary-light: #293B5A;
// $color__hightlight-light: #EAE0CC;

// $color__black: #111;
// $color__light-black: lighten($color__black, 13.5%);
// $color__darkest-grey: $color__black;
// $color__dark-grey: lighten($color__black, 20%);
// $color__mid-grey: lighten($color__black, 33.5%);
// $color__light-grey: lighten($color__black, 46.7%);
// $color__lightest-grey: lighten($color__black, 93.5%);
// $color__white: #fff;

$white: $color__white;
$black: $color__black;
$color__default: $color__mid-grey;

$color__background-body: $color__white;
$color__background-hr: $color__lightest-grey;
$color__background-hr-alt: rgba($color__black,.2);
$color__background-content: transparent;
$color__background-header: $color__primary;
$color__background-panel: $color__lightest-grey;
$color__background-footer: $color__tertiary;
$color__background-pre: $color__light-grey;
$color__background-ins: $color__light-grey;
$color__background-screen: $color__light-grey;

$color__text-input: $color__light-black;
$color__text-input-focus: $color__black;
$color__text-screen: $color__primary;
$color__text-header: rgba($color__white,.7);

$color__link: $color__primary;
$color__link-visited: darken($color__link, 20%);
$color__link-hover: darken($color__link, 20%);
$color__text-main: $color__dark-grey;
$color__text-light: $color__mid-grey;
$color__text-inverted: $color__white;
$color__text-headings: $color__dark-grey;

$color__border-abbr: $color__light-black;
$color__border-input: $color__mid-grey;
$color__border-input-focus: $color__light-black;
$color__border-frame: 5px solid $color__white;

$color__background-nav: $color__white;
$color__background-nav-active: rgba($color__black,.2);
$color__background-nav-hover: rgba($color__black,.2);
$color__text-nav: $color__text-main;
$color__text-nav-hover: $color__text-nav;
$color__border-nav: rgba($color__black,.1);

$color__background-nav-alt: $color__primary;
$color__background-nav-active-alt: rgba($color__background-nav-alt,.5);
$color__background-nav-hover-alt: $color__background-nav-active-alt;
$color__text-nav-alt: $color__white;
$color__text-nav-hover-alt: $color__white;
$color__border-nav-alt: $color__background-nav-hover;

$color__background-widget: $color__primary;
$color__background-widget-alt: $color__lightest-grey;
$color__border-widget: rgba($color__black,.5);
$color__border-widget-alt: $color__background-hr-alt;
$color__text-widget: $color__white;
$color__text-widget-alt: $color__text-light;
$color__text-widget-header: rgba($color__white,.5);
$color__text-widget-alt-header: $color__primary;

$color__background-button: $color__mid-grey;
$color__background-button-hover: rgba($color__mid-grey, .2);
$color__background-button-focus: $color__background-button-hover;
$color__text-button: $color__white;
$color__border-button: rgba($color__mid-grey, .2);
$color__border-button-hover: $color__border-button;
$color__border-button-focus: $color__border-button;
