/**
 * Elements
 */

$element__border-radius-base: 0 !default;
$element__border-radius-small: $element__border-radius-base !default;
$element__border-radius-large: $element__border-radius-base !default;

$element__widget-radius: $element__border-radius-base !default;