html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

a {
	color: $color__link;

	&:hover,
	&:focus {
		color: $color__link-hover;
	}

	&:visited {
		color: $color__link-visited;
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

.entry-meta,
.meta,
.pagination {
	color: $color__text-light;
	@include border(top);
	@include border(bottom);
}

time.updated {
	@include screen-reader-text;
}

.entry-content,
.entry-summary,
.comment-content {
	ul,
	ol {
		margin-left: 0;
	}
	li {
		> ul {
			margin-left: 1.25em;
		}
		> ol {
			margin-left: 1.5em;
		}
	}

	blockquote {
		&.alignleft,
		&.alignright {
			@extend %blockquote;
		}
		> ul {
			margin-left: 1.25em;
		}
		> ol {
			margin-left: 1.5em;
		}
		&:not(.alignleft):not(.alignright) {
			margin-left: -1.473684211em;
		}
		blockquote:not(.alignleft):not(.alignright) {
			margin-left: 0;
		}
	}
}
